* {
    -fx-background: #22252c;
    -fx-general-text-color: #fefefe;
    
    -fx-button-over-color: #056571;
    -fx-button-border-color: #056571;
        
    -fx-code-area-lines-color: #000000;
        
    -fx-has-caret-color: #056571;
}


.background {
    -fx-background-color: -fx-background;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: -fx-general-text-color;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 12pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: -fx-general-text-color;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: -fx-general-text-color;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: -fx-background;
    -fx-control-inner-background: -fx-background;
    -fx-background-color: -fx-background;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 10;
    -fx-font-size: 12pt;
    -fx-font-family: "Lato";
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 18pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: -fx-general-text-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent -fx-background transparent -fx-background;
    -fx-background-color: transparent, derive(-fx-background,10%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(-fx-background,20%);
}

.context-menu {
    -fx-background-color: derive(-fx-background,50%);
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Lato Light";
    -fx-text-fill: -fx-general-text-color;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: -fx-general-text-color;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Lato Light";
}

.code-area {
    -fx-font-size: 11pt;
    -fx-font-family: "Ubunto Mono";
}

.code-area .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Lato";
    -fx-text-fill: -fx-code-area-lines-color;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: -fx-general-text-color;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -fx-background;
    -fx-font-family: "Lato Light", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: -fx-general-text-color;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: -fx-button-over-color;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: -fx-general-text-color;
  -fx-text-fill: -fx-background;
}

.button:focused {
    -fx-border-color: -fx-general-text-color, -fx-general-text-color;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-general-text-color;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -fx-background;
}

.control-button, .control-button:pressed, .control-button:default:hover:pressed, 
.control-button:hover, .control-button:focused, .control-button:default:hover:pressed {
    -fx-border-width: 0;
    -fx-background-color: -fx-background;
}